{{import Wormhole from 'ember-wormhole/components/ember-wormhole'}}

<div style="display: none" {{did-insert (fn this.setParent)}}></div>

{{#if this.wormholeId}}
  <Wormhole style="display: none" @to={{this.wormholeId}} >
    {{yield}}
  </Wormhole>
{{/if}}

