{{import Wormhole from 'ember-wormhole/components/ember-wormhole'}}

<div {{did-insert (fn this.setParent)}}></div>

{{#if this.wormholeId}}
  <Wormhole @to={{this.wormholeId}} >
    {{yield}}
  </Wormhole>
{{/if}}
