<div class="modal-dialog">
  <div class="modal-content">
    {{yield (hash
      header=(component header tagName='' onClose=(action 'onClose') allowClose=allowClose)
      body=(component body tagName='')
      footer=(component footer tagName='')
      onClose=(action 'onClose')
    )}}
  </div>
</div>