{{import Header from './header'}}
{{import Body from './body'}}
{{import Footer from './footer'}}

<div class='panel'>
  {{yield (hash
            header=(component Header tagName='' collapsible=@collapsible withTitle=@withTitle toggleCollapsed=(fn this.toggleCollapsed))
            body=(component Body tagName='' collapsible=@collapsible open=@open)
            footer=(component Footer tagName='')
          )}}
</div>
