{{import is-equal from '~/helpers/is-equal'}}

{{#if (is-equal @title @manager.selected)}}
<div class="tab-content">
  <div role="tabpanel" class="tab-pane active" id="home">{{yield}}</div>
</div>
{{/if}}
